@charset "EUC-KR";

/*******************************************************************************************************
 Header 디자인
*******************************************************************************************************/
.navbar-title {
	font-size: 1.1rem;
	font-weight: 600;
}

@media (min-width: 768px) {
	.h-md-550 {
	    height: 550px!important;
	}
}

.nav-item-header div {
	font-size: 1rem;
}

/*******************************************************************************************************
 Page Header 디자인
*******************************************************************************************************/
.page-title {
	padding: 1.6rem 0;
}

.page-title i {
	font-size: 20px;
	top: -2px;
}

.modal-header {
	padding: 1.25rem !important;
	border-bottom: 1px solid rgba(0,0,0,.125) !important;
}

.modal-footer {
	padding: 1.25rem !important;
	border-top: 1px solid rgba(0,0,0,.125) !important;
}

/*******************************************************************************************************
 Table 디자인
*******************************************************************************************************/
.table th {
	font-weight: 600;
}

.datatable-footer {
    border-top: 1px solid #b7b7b7 !important;
    margin-top: -1px !important;
    margin-right: 1px !important;
}

.dataTables_wrapper .table-bordered {
	border: 0 !important;
}